*
{
    margin:0;
    padding:0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header{
    height: 80px;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
    /* box-sizing: content-box; */
}
.myntra_logo
{
    height: 45px;
}
.logo_container
{
    margin-left: 4%; 
}
.nav_bar
{
    display: flex;
    min-width: 450px;
    justify-content: space-between;
}
.nav_bar a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;

}
.nav_bar a sup{
    letter-spacing: normal;
    color: #ff3f6c;
    font-size: 10px;
}
.search_bar
{
display: flex;
min-width: 400px;
/* height: 40px;  */
align-items: center;
/* background-color: rgb(119, 16, 22); */
}
.search_icon
{
box-sizing: content-box;
background-color: #f5f5f6;
height: 20px;
padding: 10px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
color: #282c3f;
font-weight: 300;

}
.search_input{
color: #686e79;
background-color: #f5f5f6;
min-width: 325PX;
height: 40px;
flex-grow: 1;
border:none;
outline:none;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
}
.action_bar
{
    display: flex;
    margin-right: 4%;
    /* background-color: #f5f5f6; */
    height: 40px;
    min-width: 200px;
    justify-content: space-around;
}
.action_person
{
display: flex;
flex-direction: column;
align-items: center;

}
.profile_span
{

    /* color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: 6px; */
}
.action_bag
{
display: flex;
flex-direction: column;
align-items: center;
}
.bag_span
{
    /* color: #000;
    font-size: 12px;
    font-weight: 700;

    line-height: 6px; */
}
.action_wishlist
{
display: flex;
flex-direction: column;
align-items: center;
}
.wishlist_span
{
    /* color: #000;
    font-size: 12px;
    font-weight: 700;
    line-height: 6px; */

}